<div class="row">
    <div class="col-sm-9">
        </h2>
        <h1><%= @park[:park_name] %></h1>
        <p><%= @park[:location] %></p>
        
        <p class="mt-5">
            <% if @current_user %>
                <a href="/parks/<%= @park[:id] %>/reviews/new" class="btn btn-primary">Review now!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to review</a>
            <% end %>
        </p>
    </div>
    <div class="col-sm-3">
        <h3>Where?</h3>
        <p><%= @park[:location] %></p>
        <h3>How many reviews so far?</h3>
        <p><%= @review_count %></p>
    </div>
</div>