<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Google Fonts -->
        <!-- Swap out "Roboto" for the font(s) you want to use -->
        <link href="https://fonts.googleapis.com/css?family=Quicksand&sans-serif=swap" rel="stylesheet">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!-- Your own CSS -->
        <link rel="stylesheet" href="/styles.css">

        <title>Parks</title>

    </head>

    <body>

        <div class="row">
            <div class="col-sm-8">
                </h2>
                <h1><%= @park[:park_name] %></h1>
                <p><%= @park[:location] %></p>
                
                <iframe
                    width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    <img src="utah-national-parks-map.jpg">
                </iframe>

                <p class="mt-5">
                    <% if @current_user %>
                        <a href="/parks/<%= @park[:id] %>/reviews/new" class="btn btn-primary">Review now!</a>
                    <% else %>
                        <a href="/logins/new" class="btn btn--primary">Please sign in to review</a>
                    <% end %>
                </p>

                <% for review in @reviews %>
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-0"><%= @users_table.where(id: review[:user_id]).to_a[0][:name] %></h5>
                            <%= review[:rating] %>
                            <%= review[:comments] %>
                        </div>
                    </div>
                <% end %>

            </div>
            <div class="col-sm-4">
                <h3>Today's forecast:</h3>
                <p><%= @park[:forecast] %></p>
                    <div class="container">
                        <div class="col-sm-12">
                            <h4><%= @forecast['currently']['summary'] %> </h4>
                        </div>
                        <div class="col-sm-12">
                            <h4><%="Current temp: #{@forecast["currently"]["temperature"]} F" %> </h4>
                        </div>
                        <iframe
                            width="600"
                            height="450"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
                            &q=<%= @park[:lat] %>,<%= @park[:long] %>&zoom=9" allowfullscreen>
                        </iframe>
                    </div>
                <h3>Total reviews:</h3>
                <p><%= @review_count %></p>
                <h3>Average rating (1-5)</h3>
                <p><%= @review_sum %></p>
            </div>
        </div>

    </body>

    <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>